*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgb(67, 67, 67), rgb(20, 18, 18));
  padding: 20px;
}

section {
  height: 100%;
  width: 400px;
  background-color: black;
  margin: auto;
  border-radius: 10px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section::-webkit-scrollbar {
  display: none;
}

.all_reels {
  width: 100%;
  height: 100%;
}

.reels {
  width: 100%;
  height: 100%;   /* FULLSCREEN HEIGHT FIX */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  scroll-snap-align: start;
}

.reels video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reels .bottom {
  width: 100%;
  padding: 15px 10px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.bottom .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.user h4 {
  font-size: 18px;
  font-weight: 600;
}

.user button {
  background-color: transparent;
  padding: 3px 7px;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid gray;
}

.bottom h3 {
  font-size: 16px;
  margin-top: 5px;
}

.reels .right {
  width: 40px;
  position: absolute;
  right: 10px;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.right i {
  font-size: 32px;
  cursor: pointer;
}

.right h6 {
    text-align: center;
  font-size: 14px;
}