* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  flex-wrap: wrap;
}

.main .name {
  width: 100%;
  height: 70%
}

.name h1 {
  font-size: 100px;
  text-align: center;
  padding: 20px 0px;
  text-shadow: 5px 5px 10px red;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  text-align: center;
  border: 3px solid white;
}

:root {
  --x: 200px;
  --y: 200px;
}

/* linear gradient */
/* radial gradient */
.box {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0)50%, rgba(0, 0, 0, 0.962)80%)
}

