* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html ,body{
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes changebg{
  from{
    background-color: red;
    scale: 1;
    border-radius: 0px;
  }
  to{
    background-color: rgb(0, 217, 255);
    scale: 0.50;
    border-radius: 200px;
  }
}

.box1{
  width: 600px;
  height: 300px;
  animation: changebg 10s both;
}
