* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif
}

#card {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    position: relative;
    
}

#card img {
    width: 100%;
    height: 90%;
    padding: 20px;
    border-radius: 40px;
    object-fit: cover;
    padding-bottom: 5px;
    position: relative;
}
h1{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    opacity: 0.9;
}

i{
    top: 50%;
    left: 50%;
    opacity: 0.8;
    font-size: 70px;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%) scale(0) rotate(-50deg);
    transition: all ease 0.4s;
}
