* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif
}

#card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#card img {
    width: 100%;
    height: 60%;
    padding: 20px;
    object-fit: cover;
    padding-bottom: 5px;
}
h1{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}
h2{
    
    font-size: 18px;
    font-weight: 600;
    color: red;
}


button{
    padding: 5px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom:20px ;
    cursor: pointer;
    
}
button:active{
    scale: 0.95;
}

#add{
    background-color: darkcyan;
}
