* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    cursor: none;
    font-family:Arial, Helvetica, sans-serif
}

.main{
    width: 30px ;
    height: 30px;
    background-color:white;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all linear 0.2s;
    position: absolute;
}
 h1{
    text-align: center;
    font-size: 150px;
    text-shadow: 5px 5px 10px cyan;
}
h5{
    padding-top: 20px;
    color: black;
    text-shadow: 3px 3px 10px cyan;
    font-size: 20px;
    opacity: 0.9;
}
